body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f2f2f2;
}

.slider-container {
  position: relative;
  width: 1280px;
  height: 720px;
  overflow: hidden;
}

.before-image,
.after-image {
  position: absolute;
  width:1280px;
  height: 720px;
  object-fit: cover;
  transition: 0.4s;
}

.before-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}
